@import url(http://fonts.googleapis.com/css?family=Qwigley&text=Why%20Equal%20or%20Not);
body {
    font-size: 1em;
}
*:focus{
    outline:0;
}
header,
article {
    width: 980px;
    margin: 0 auto;
    overflow: auto;
}
section {
    font-size: 2.5em;
    overflow: auto;
}
h1 {
    font-family: 'Qwigley', cursive;
    font-size: 8em;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 24px;
    float: right;
    margin:5px 0;
    font-weight:normal;
}
h3 {
    float: left;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin: 50px 0;
}
fieldset {
    font-size:1.2em;
    vertical-align: middle;
    margin: 50px 0;
    padding:30px 20px;
}

div[contenteditable]{
    border-bottom: solid 1px black;
    font-size: 96px;
    height:96px;
    padding: 0;
    width: 200px;
    transition: color 100ms;
    -webkit-transition:color 100ms;
    overflow:visible;
    display:table-cell;
    white-space: nowrap;
    position:relative;

}
div[contenteditable] span{
        vertical-align:bottom;
    position:absolute;
    bottom:0;
}
input[type=text][readonly]{
    text-align:center;
    font-size:0.8em;
    border-bottom-width:0;
    width:80px;
}
input:focus {
    outline: 0;
}