@import url(http://fonts.googleapis.com/css?family=Qwigley&text=Why%20Equal%20or%20Not);
 header {
    width: 900px;
    margin: 0 auto;
}
h1 {
    font-family: 'Qwigley', cursive;
    font-size: 90px;
    padding:0;
    margin:0;
}
h2 {
    font-size: 14px;
    float:right;
}


header{
    overflow:hidden;
}